@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    margin: 0px auto;
    background-color: #2f2937;
    font-family: 'Rubik', sans-serif;
    color: #ebdaac;
}

.content_backrgound {
    background-color: #26202c;
    max-width: 70%;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin: 0px 20px 0px 20px;
    background-color: #2a2432;

    flex: 1 1 auto;
}

.content_content {
}