@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0px auto;
    background-color: #2f2937;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #ebdaac;
}

.content_backrgound {
    background-color: #26202c;
    max-width: 70%;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin: 0px 20px 0px 20px;
    flex: 1 1 auto;
}

.row_content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px -5px 0px;
}

.zastavka {
    margin: 0px 0px 1.5px 0px;
}

.zastavka img{
    max-width: 100%;
}

.header {
    margin: 0px 0px 5px 0px;
    background-color: #282230;
    padding: 5px 10px 10px 10px;
}

.nav_panel {
    display: flex;
    justify-content: space-around;
}

.nav_el {
    padding: 30px;
    border-right: 1px solid #363142;
}

.nav_el:last-child {
    border: none;
}

.nav_el a {
    padding: 25px 30px 30px 30px;
    text-decoration: none;
    color: #ebdaac;
}

.nav_el a:hover {
    background-color: #232029;
    border-bottom: 0.1px solid #2f2935;
}


.content_content {
    background-color: #2a2432;
}

.row_content_content {
    display: flex;
    padding-left: 80px;
}

.content_block_1 {
    flex: 1 1 70%;
    margin-bottom: 100px;
    background-color: #2a2432;
}

.content_block_1_row {
    display: flex;
    flex-direction: column;
}

.hello {
    border-bottom: 0.1px solid #433d4b;
}

.row_hello {
    display: flex;
    padding: 55px 30px 65px 0px;
}

.image_hello {
    flex: 1 1 35%;
    margin-right: 40px;
}

.image_hello img {
    max-width: 100%;
    border: 2px solid #292732;
    outline: 10px solid #443e4b;
}

.text_hello {
    flex: 1 1 65%;
}

.title_hello {
    font-size: 96px;
    line-height: 75px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subtitle_hello {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.text_text_hello {
    color: #726c78;
}

.events {
}

.row_events {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.title_events {
    margin-bottom: 50px;
}

.scroll_events {

}

.row_scroll_events {
    display: flex;
    flex-direction: column;
}

.card_event {
    border-bottom: 0.1px solid #312b39;
    padding-bottom: 20px;
    margin: 20px 30px 0px 0px;
}

.card_event:first-child {
    margin: 0px 30px 0px 0px;
}

.card_event:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.row_card_event {
    display: flex;
    align-items: center;
}

.card_image {
    flex: 1 1 30%;
}

.row_card_image {
    display: flex;
    background-color: #2e2836;
    align-items: center;
}

.card_image_image {
    flex: 1 1 128px;
}

.card_image_image img{
    max-width: 94%;
    border: 1px solid #292732;
    outline: 5px solid #443e4b;
}

.card_image_date {
    background-color: #2e2836;
    flex: 1 1 auto;
    text-align: center;
}

.card_image_date_date {
    padding: 30px;
}

.card_text {
    flex: 1 1 70%;
    padding-left: 30px;
}

.content_block_2 {
    background-color: #2e2836;
    flex: 1 1 30%;
    border-left: 0.1px solid #433d4b;
}